<%- include('includes/head'); %>

    <section class="container">
      <h1>

        <!-- <%= titulo %><br>
        <%- titulo %> -->

        <!-- <% if(typeof titulo !== 'undefined') { %>
          <%= titulo %>
        <% } else { %>
          O tiulo não foi enviado
        <% } %> -->

        <% numeros.forEach(num => { %>
          <%= num %><br>
        <% }); %>

      </h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <form action="/" method="post">
        <label>Cliente</label>
        <input type="text" name="cliente">
        <button>Submit</button>
      </form>
    </section>

    <%- include('includes/footer'); %>